Library
Logs
obj
.vs\
.vs
Temp
UserSettings
UserSettings/EditorUserSettings.asset
/UserSettings
UserSettings/Layouts/default-2022.dwlt
UserSettings/EditorUserSettings.asset
.vs/Memoire_RPG_With_LLM/v17/DocumentLayout.json
ProjectSettings/EditorBuildSettings.asset
UserSettings/Layouts/default-2022.dwlt
.vs/Memoire_RPG_With_LLM/v17/DocumentLayout.json
.vs/Memoire_RPG_With_LLM/v17/DocumentLayout.backup.json
.vs/Memoire_RPG_With_LLM/v17/.suo
.vs/Memoire_RPG_With_LLM/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
.vs/Memoire_RPG_With_LLM/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/Memoire_RPG_With_LLM/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
.vs/Memoire_RPG_With_LLM/CopilotIndices/0.2.1653.9816/CodeChunks.db
Assets/StreamingAssets/Errors.txt
Assets/StreamingAssets/Errors.txt.meta
Assets/StreamingAssets/Prompts_Responses_AllTimes.csv
Assets/StreamingAssets/Prompts_Responses_AllTimes.csv.meta
Assets/StreamingAssets/Prompts_Responses_LastSession.csv
Assets/StreamingAssets/Prompts_Responses_LastSession.csv.meta
UserSettings/EditorUserSettings.asset
.vs/Memoire_RPG_With_LLM/v17/DocumentLayout.json
.vs/Memoire_RPG_With_LLM/v17/DocumentLayout.backup.json
.vs/Memoire_RPG_With_LLM/v17/.suo
Assets/StreamingAssets/Errors.txt.meta
Assets/StreamingAssets/Prompts_Responses_AllTimes.csv
Assets/StreamingAssets/Prompts_Responses_AllTimes.csv.meta
Assets/StreamingAssets/Prompts_Responses_LastSession.csv
Assets/StreamingAssets/Prompts_Responses_LastSession.csv.meta
UserSettings/Layouts/default-2022.dwlt
.vs/Memoire_RPG_With_LLM/v17/.suo
.vs/Memoire_RPG_With_LLM/v17/DocumentLayout.json
UserSettings/Layouts/default-2022.dwlt
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-2022.dwlt
Assets/StreamingAssets/Prompts_Responses_LastSession.csv
Assets/StreamingAssets/Prompts_Responses_AllTimes.csv
MerryYellow.CodeAssist.Editor.csproj
